$sm: 768px;
$md: 1024px;
$lg: 2560px;

@mixin for-small-up {
  @media screen and (min-width: $sm) {
    @content;
  }
}

@mixin for-medium-up {
  @media screen and (min-width: $md) {
    @content;
  }
}

@mixin for-large-up {
  @media screen and (min-width: $lg) {
    @content;
  }
}
