$background-color: rgba(248, 248, 248, 1);
$background-color-card: rgba(255, 255, 255, 1);
$background-color-btn: rgba(244, 224, 65, 1);
$background-color-btn-hover: rgba(255, 227, 2, 1);
$background-color-btn-disabled: rgba(180, 180, 180, 1);
