@import "./../../../styles/breakpoints.scss";

input {
  display: block;
  width: 328px;
  margin: auto;
  margin-top: 50px;
  padding-left: 16px;
  height: 54px;
  font-size: 16px;
  line-height: 26px;
  color: #7e7e7e;
  border: none;
  border: 1px solid #d0cfcf;
  border-radius: 4px;

  &:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #d0cfcf;
  }

  @include for-small-up {
    width: 380px;
  }
}
